.nav-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: #2e2e2e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0.9;
  padding: 20px 10px;
  background-color: #2e2e2e;
  width: 80%;
}

.nav-container a {
  text-decoration: none;
  color: white;
  transition: yellow 0.3s ease-in-out;
  font-weight: 700;
  font-size: large;
}

.nav-container a:hover {
  color: rgb(235, 239, 158);
}

.isactive-link {
  color: rgb(255, 137, 3) !important;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid yellow;
}
