.appwrapper {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/* Scrollbar styling (optional for better UX) */
.appwrapper::-webkit-scrollbar {
  width: 8px;
}

.appwrapper::-webkit-scrollbar-thumb {
  background: #4c4c6d;
  border-radius: 4px;
}

.appwrapper::-webkit-scrollbar-thumb:hover {
  background: #6e6e92;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .appwrapper {
    padding: 10px;
  }

  .appwrapper > * {
    width: 100%; /* Adjust for smaller screens */
  }
}

@media (max-width: 500px) {
  .appwrapper {
    padding: 0;
    margin: 0;
  }
}
