.home-pg {
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: rgba(20, 20, 30);
  overflow-x: hidden; /* Prevent horizontal scrolling */
  box-sizing: border-box;
}

/* Responsive design for small devices */
@media (max-width: 768px) {
  .home-pg {
    padding: 0;
  }

  .home-pg > * {
    width: 100%; /* Ensure content spans the full width of smaller screens */
  }
}

/* Specific styles for very small devices */
@media (max-width: 480px) {
  .home-pg {
    font-size: 14px;
  }
}
